.emoji button{background-color:transparent;
border-color: transparent;
font-size: 20px;


}

button:hover{cursor: pointer;}


.login{text-align: right;}
.emoji input{background-color: rgba(255, 245, 245, 0.321);
border-radius: 10px;
font-size: 20px;

}

body{background-color: antiquewhite;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}




.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f44336;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  /* ключевое изменение */
  opacity: 0;
  animation: fadein 0.5s forwards, fadeout 0.5s 3s forwards;
}
@keyframes fadein {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeout {
  from {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(20px);}
}


select{color: rgb(228, 228, 228);
border-radius: 20px;
font-size: 12px;
background-color: rgb(37, 97, 246);
border-color: rgb(37, 97, 246);
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-style:ridge;
border-width: thick;


}

.row{display:flex;
align-items: center;
gap: 10px;
}